/*标题*/
:root{
    --title-line-height:1.2;
    --title-letter-spacing: 0.045em;
    }
    html[data-theme="light"] .ls-block :is(h1, h2, h3, h4, h5)::after {
      margin-left: 0.5rem;
      /* font-family: var(--ct-code-font-family);*/
      font-size: 0.6rem;
      font-style: var(--ct-inline-code-font-style) !important;
      border-radius: var(--ct-inline-code-border-radius);
      padding: var(--ct-inline-code-padding) !important;
      /*background-color: var(--Is-h1-bk,#e9ecef);*/
      background: transparent;
      color: inherit;
      vertical-align: middle;
      /*原始是0.3*/
      opacity: 0.3;
    }
    
    html[data-theme="dark"] .ls-block :is(h1, h2, h3, h4, h5)::after {
      margin-left: 0.5rem;
      /* font-family: var(--ct-code-font-family);*/
      font-size: 0.6rem;
      font-style: var(--ct-inline-code-font-style) !important;
      border-radius: var(--ct-inline-code-border-radius);
      padding: var(--ct-inline-code-padding) !important;
      background-color: transparent;
      color: inherit;
      vertical-align: middle;
      /*原始是0.3*/
      opacity: 0.3;
    }
    
    .ls-block :is(h1, h2, h3, h4, h5):hover::after {
      opacity: 1;
    }
    
    .ls-block h1::after {
      content: "h1";
    }
    
    .ls-block h2::after {
      content: "h2";
    }
    
    .ls-block h3::after {
      content: "h3";
    }
    
    .ls-block h4::after {
      content: "h4";
    }
    
    .ls-block h5::after {
      content: "h5";
    }
    
    .edit-input-wrapper .editing {
      color: red !important;
    }
    
    .page-title-sizer-wrapper>.title {
      letter-spacing: 3px !important;
    }
    
    html[data-theme="light"] .page-title-sizer-wrapper .edit-input-wrapper.editing {
    
      background-color: rgb(247, 246, 254);
    }
    
    /*页面标题*/
    html[data-theme="light"] h1.title {
      color: var(--ls-title-text-color) !important;
      font-size: var(--ls-page-title-size) !important;
      font-weight: 600;
      font-style: normal;
      font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      white-space: pre-wrap;
      word-break: break-word;
      letter-spacing: 4px !important;
      font-variation-settings: "wght" 750;
    }
    
    html[data-theme="dark"] h1.title {
      color: var(--ls-title-text-color) !important;
      font-size: var(--ls-page-title-size) !important;
      font-weight: 600;
      font-style: normal;
      font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      white-space: pre-wrap;
      word-break: break-word;
      letter-spacing: 4px !important;
      font-variation-settings: "wght" 750;
    }
    
    /*标题编辑模式*/
    html[data-theme="light"] #main-content-container .page-title-sizer-wrapper input[type=password],
    html[data-theme="light"] #main-content-container .page-title-sizer-wrapper input[type=text] {
      color: var(--ls-title-text-color) !important;
      font-size: var(--ls-page-title-size) !important;
      font-weight: 600;
      font-style: normal;
      font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      white-space: pre-wrap;
      word-break: break-word;
      letter-spacing: 3px !important;
      font-variation-settings: "wght" 750;
      margin: 0 !important;
      padding: 0 !important;
    }
    
    html[data-theme="dark"] #main-content-container .page-title-sizer-wrapper input[type=password],
    html[data-theme="dark"] #main-content-container .page-title-sizer-wrapper input[type=text] {
      color: var(--ls-title-text-color) !important;
      font-size: var(--ls-page-title-size) !important;
      font-weight: 600;
      font-style: normal;
      font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      white-space: pre-wrap;
      word-break: break-word;
      letter-spacing: 3px !important;
      font-variation-settings: "wght" 750;
      margin: 0 !important;
      padding: 0 !important;
    }
    /*标题中的双链颜色和标题保持一致*/
    .ls-block h1 a.page-ref,
    .editor-inner .uniline-block.h1 a.page-ref,
    .ls-block h2 a.page-ref,
    .editor-inner .uniline-block.h2 a.page-ref,
     .ls-block h3 a.page-ref,
     .editor-inner .uniline-block.h3 a.page-ref,
     .ls-block h4 a.page-ref,
     .editor-inner .uniline-block.h4 a.page-ref,
    .ls-block h5 a.page-ref,
    .editor-inner .uniline-block.h5 a.page-ref,
    .ls-block h6 a.page-ref,
     .editor-inner .uniline-block.h6 a.page-ref
    {
      color: inherit !important;
    }
    html[data-theme="light"] .ls-block h1,
    html[data-theme="light"] .editor-inner .uniline-block.h1 {
      font-size: 138% !important;
      border-bottom: 0px;
      color: #000 !important;
      font-weight: 700;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="dark"] .ls-block h1,
    html[data-theme="dark"] .editor-inner .uniline-block.h1 {
      font-size: 138% !important;
      border-bottom: 0px;
      color: #fff !important;
      font-weight: 700;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="light"] .ls-block h2,
    html[data-theme="light"] .editor-inner .uniline-block.h2 {
      font-size: 133% !important;
      border-bottom: 0px;
      color: #000000de !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="dark"] .ls-block h2,
    html[data-theme="dark"] .editor-inner .uniline-block.h2 {
      font-size: 133% !important;
      border-bottom: 0px;
      color: #ffffffda !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="light"] .ls-block h3,
    html[data-theme="light"] .editor-inner .uniline-block.h3 {
      font-size: 126% !important;
      border-bottom: 0px;
      color: #77954d !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="dark"] .ls-block h3,
    html[data-theme="dark"] .editor-inner .uniline-block.h3 {
      font-size: 126% !important;
      border-bottom: 0px;
      color: #a7c080 !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="light"] .ls-block h4,
    html[data-theme="light"] .editor-inner .uniline-block.h4 {
      font-size: 119% !important;
      border-bottom: 0px;
      color: #ba7c38 !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="dark"] .ls-block h4,
    html[data-theme="dark"] .editor-inner .uniline-block.h4 {
      font-size: 119% !important;
      border-bottom: 0px;
      color: #dbbc7f !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal ;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="light"] .ls-block h5,
    html[data-theme="light"] .editor-inner .uniline-block.h5 {
      font-size: 110% !important;
      border-bottom: 0px;
      color: #623497 !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal;
      letter-spacing: var(--title-letter-spacing);
    }
    
    html[data-theme="dark"] .ls-block h5,
    html[data-theme="dark"] .editor-inner .uniline-block.h5 {
      font-size: 110% !important;
      border-bottom: 0px;
      color: #c0a8e1 !important;
      font-weight: 600;
      font-family: var(--font-title-default);
      font-style: normal;
      letter-spacing: var(--title-letter-spacing);
    }
    
    .ls-block h6,
    .editor-inner .uniline-block.h6 {
      font-size: 100% !important;
    }