
:root {
    --lightlighttitleColor: rgb(31, 34, 37);
    --lightborder-color:rgb(226, 226, 226,.35);
    --darklighttitleColor: #FFFFFF;
    --darkborder-color:rgb(53 53 53 / 35%);
}
html[data-theme="light"] .editor-inner .h1.uniline-block, html[data-theme="light"] .ls-block h1 {
    width: 100%;
    color: var(--lighttitleColor);
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    line-height: 28px;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -0.3px;
    font-variation-settings: "wght" 750;
    
}
html[data-theme="light"] .editor-inner .h2.uniline-block, html[data-theme="light"] .ls-block h2 {
    width: 100%;
    color: var(--lighttitleColor);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    line-height: 24px;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -0.3px;
  
}
html[data-theme="light"] .editor-inner .h3.uniline-block, html[data-theme="light"] .ls-block h3 {
    width: 100%;
    color: var(--lighttitleColor);
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    line-height: 22px;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -0.4px;
    font-variation-settings: "wght" 650;
}
html[data-theme="light"] .editor-inner .h4.uniline-block, html[data-theme="light"] .ls-block h4 {
    width: 100%;
    color: var(--lighttitleColor);
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    line-height: 20px;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -0.4px;
    font-variation-settings: "wght" 650;
}
html[data-theme="dark"] .editor-inner .h1.uniline-block, html[data-theme="dark"] .ls-block h1 {
  width: 100%;
  color: var(--darklighttitleColor);
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  line-height: 28px;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: -0.3px;
  font-variation-settings: "wght" 750;
  
}
html[data-theme="dark"] .editor-inner .h2.uniline-block, html[data-theme="dark"] .ls-block h2 {
  width: 100%;
  color: var(--darklighttitleColor);
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  line-height: 24px;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: -0.3px;

}
html[data-theme="dark"] .editor-inner .h3.uniline-block, html[data-theme="dark"] .ls-block h3 {
  width: 100%;
  color: var(--darklighttitleColor);
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  line-height: 22px;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: -0.4px;
  font-variation-settings: "wght" 650;
}
html[data-theme="dark"] .editor-inner .h4.uniline-block, html[data-theme="dark"] .ls-block h4 {
  width: 100%;
  color: var(--darklighttitleColor);
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-family: Inter, system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: -0.4px;
  font-variation-settings: "wght" 650;
}

.ls-block :is(h1) {
  /*margin-bottom: .5rem;*/
  margin-top: .7rem !important;
  padding-bottom: 0 !important;
}
.editor-inner .uniline-block:is(.h1) {
  margin-top: .9rem !important;
}
 .ls-block :is(h2) {
  margin-bottom: .5rem !important;
  margin-top: .5rem !important;
  padding-bottom: 0 !important;
}
.editor-inner .uniline-block:is(.h2){
  margin-bottom: .5rem !important;
  margin-top: .7rem !important;
  padding-bottom: 0 !important;
}
 .ls-block :is(h3) {
  margin-bottom: .5rem !important;
  margin-top: .25rem !important;
  padding-bottom: 0 !important;
}
.editor-inner .uniline-block:is(.h3) {
  margin-bottom: .5rem !important;
  margin-top: .35rem !important;
  padding-bottom: 0 !important;
}
.ls-block :is(h4) {
  margin-bottom: .5rem !important;
  margin-top: .1rem !important;
  padding-bottom: 0 !important;
}
.editor-inner .uniline-block:is(.h4){
  margin-bottom: .5rem !important;
  margin-top: .1rem !important;
  padding-bottom: 0 !important;
}

.ls-block h1::after {
  content: "h1";
}

.ls-block h2::after {
  content: "h2";
}

.ls-block h3::after {
  content: "h3";
}

.ls-block h4::after {
  content: "h4";
}

.ls-block h5::after {
  content: "h5";
}
.ls-block :is(h1, h2, h3, h4, h5)::after {
  margin-left: 3rem;
  /* font-family: var(--ct-code-font-family);*/
  font-size: 0.6rem;
  /*background-color: var(--Is-h1-bk,#e9ecef);*/
  background: transparent;
  color: inherit;
  vertical-align: middle;
  /*原始是0.3*/
  opacity: 0.15;
}
html[data-theme="light"] .editor-inner .uniline-block:is(.h1,.h2), html[data-theme="light"].ls-block :is(h1,h2){
  border-color: var(--lightborder-color);
}
html[data-theme="dark"] .editor-inner .uniline-block:is(.h1,.h2), html[data-theme="dark"].ls-block :is(h1,h2){
  border-color: var(--darkborder-color);
}
